* , *::before, *::after
{ box-sizing: border-box; }

html, body {
    margin: 0;
    padding: 0;
    height: 100%;

    font-family: 'Space Mono', monospace;
}

body{
    background-color:hsl(185, 41%, 84%) ;
    display: grid;
    grid-template: .6fr min-content .2fr 1.6fr max-content 1fr .2fr / 1fr 2fr 1fr;
}

article {
    background-color: white;
    grid-area: 4/2 / 5/3;
}

#calc_Body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    height: 100%;
    padding: 1em;
}

.left_Body {
    display: grid;
}
.left_Body label {
    display: block;
    padding: 1em 1em 1em 0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity:0;
  pointer-events:none;
}
input[type=number] { -moz-appearance: textfield;}
input.borderRound {border-radius: 5px;}
label.bill { 
    display: block;
 }
.tip {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}
.tip button {
    width: 100px;
}
#people{
    width: 100%;
}

.right_Body {
    background-color: hsl(183, 100%, 15%);
}

#logo{
    grid-area: 2/2 / 3/3;
    text-align: center;
}

footer {
    grid-area:7/2;
}

.borderRound { border-radius: 20px;}
.input { 
    width: 100%;
    height: 50%;
    border: none;
    background-color: hsl(189, 41%, 97%);
    text-align: end;
    font-size: 24px;
}