* , *::before, *::after
{ box-sizing: border-box; }

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: hsl(186, 14%, 43%);
    font-weight: bolder;
    font-family: 'Space Mono', monospace;
}

body{
    background-color:hsl(185, 41%, 84%) ;
    display: grid;
    grid-template: .6fr min-content .2fr 1.6fr max-content 1fr .2fr / 1fr 2fr 1fr;
}

#logo{
    grid-area: 2/2 / 3/3;
    text-align: center;
}

article {
    background-color: white;
    grid-area: 4/2 / 5/3;
}





#calc_Body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    height: 100%;
    padding: 1em;
}





.left_Body {
    display: grid;
}
.left_Body label {
    display: block;
    padding: 1em 1em .2em 0;
}





input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity:0;
  pointer-events:none;
}
input[type=number] { -moz-appearance: textfield;}
input.borderRound {border-radius: 5px;}
input { 
    border: none;
    text-align: end;
    border-radius: 5px;
    font-family: 'Space Mono', monospace;
}
.left_Body input {
    width: 100%;
    background-color: hsl(189, 41%, 97%);
    font-size: 24px;
    color: hsl(182, 17%, 67%);
    font-weight: 700;
    padding: 5px 20px;
}





.bill_Container {
    position: relative;
}
.bill_Icon:before{
    content: url("/images/icon-dollar.svg"); 
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%)
}
.bill_Container input:hover,
.bill_Container input:focus {
    outline: solid #5aa9a0;
}





.tip {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}
.tip button {
    width: auto;
    padding: 5px 10px;
    background-color: hsl(183, 100%, 15%);
    font-family: 'Space Mono', monospace;
    color: #fff;
    font-weight: bolder;
    font-size: 1.4em;
}
.tip button:hover{
    background: hsl(173, 61%, 77%);
    color: hsl(183, 100%, 15%);
}









#people{
    width: 100%;
}
.people_Container{
    position: relative;
}
.people_Icon:before {
    content: url("/images/icon-person.svg"); 
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%)
}
.people_Wrap {
    display: flex;
    justify-content: space-between;
}



.right_Body {
    background-color: hsl(183, 100%, 15%);
    display: grid;
    place-items: center;
}
.right_Body form {
    display: flex;
    flex-direction: row;
    color: #fff;
    width: 100%;
}
.right_Body form:nth-of-type(1),
.right_Body form:nth-of-type(2){
    justify-content: space-around;
}
.right_Body form:nth-of-type(3){
    height: 50%;
    place-items: end;
    place-content: center;
}
.right_Body form sub {
    color: #6fa0a4;
}
.right_Body form > button {
    width: 80%;
    height: 100%;
    font-size: 20px;
    border: none;
}
.right_Body input {
    width: 45%;
    font-size: 50px;
    color: #27c0ac;
    font-weight: bold;
    background: transparent;
}



#tip_Person,
#total_Person {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='17'%3E%3Cpath fill='%2327c0ac' d='M6.016 16.328v-1.464c1.232-.08 2.22-.444 2.964-1.092.744-.648 1.116-1.508 1.116-2.58v-.144c0-.992-.348-1.772-1.044-2.34-.696-.568-1.708-.932-3.036-1.092V4.184c.56.144 1.012.4 1.356.768.344.368.516.816.516 1.344v.288h1.824v-.432c0-.448-.088-.876-.264-1.284a3.783 3.783 0 00-.744-1.116A4.251 4.251 0 007.54 2.9a5.324 5.324 0 00-1.524-.492V.872H4.288V2.36a5.532 5.532 0 00-1.416.324c-.448.168-.84.392-1.176.672-.336.28-.604.616-.804 1.008-.2.392-.3.844-.3 1.356v.144c0 .96.316 1.708.948 2.244.632.536 1.548.884 2.748 1.044v3.912c-.704-.16-1.248-.472-1.632-.936-.384-.464-.576-1.08-.576-1.848v-.288H.256v.576c0 .464.08.924.24 1.38.16.456.404.88.732 1.272.328.392.744.728 1.248 1.008s1.108.476 1.812.588v1.512h1.728zM4.288 7.424c-.688-.128-1.164-.332-1.428-.612-.264-.28-.396-.644-.396-1.092 0-.464.176-.832.528-1.104.352-.272.784-.448 1.296-.528v3.336zm1.728 5.712V9.344c.768.128 1.328.328 1.68.6.352.272.528.688.528 1.248 0 .544-.196.984-.588 1.32-.392.336-.932.544-1.62.624z'/%3E%3C/svg%3E");
    background-position: 1.2em;
    background-repeat: no-repeat;
    padding-left: 20px;
    background-size: .5em;
}



button#reset {
    background-color: hsl(183, 79%, 24%);
    color: hsl(184, 90%, 20%);
    font-weight: bolder;
}





footer {
    grid-area:7/2;
}

.borderRound { border-radius: 20px;}
.monoSpace { font-family: 'Space Mono', monospace;}
.flex { display: flex; flex-direction: row;}
.off { display: none;}
.red { color: #c27d6e;}
.red_Outline { outline: solid #b47e6e;}
button {
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

