* , *::before, *::after
{ box-sizing: border-box; }

body {
    margin: 0;
    padding: 0;
    
    color: hsl(186, 14%, 43%);
    font-weight: bolder;
    font-family: 'Space Mono', monospace;
}

body{
    background-color:hsl(185, 41%, 84%) ;
    
}

main {
    display: grid;
    grid-template: .6fr min-content .2fr 1.6fr max-content 1fr .2fr / 1fr 2fr 1fr;
}

#logo{
    grid-area: 2/2 / 3/3;
    text-align: center;
}

article {
    background-color: white;
    grid-area: 4/2 / 5/3;
}





#calc_Body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    height: 100%;
    padding: 1em;
}


/************** L E F T  B O D Y ****************/


.left_Body {
    display: grid;
}
.left_Body label {
    display: block;
    padding: 1em 1em .2em 0;
}





input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity:0;
  pointer-events:none;
}
input[type=number] { -moz-appearance: textfield;}
input.borderRound {border-radius: 5px;}
input { 
    border: none;
    text-align: end;
    border-radius: 5px;
    font-family: 'Space Mono', monospace;
}
.left_Body input {
    width: 100%;
    background-color: hsl(189, 41%, 97%);
    font-size: 24px;
    color: hsl(182, 17%, 67%);
    font-weight: 700;
    padding: 5px 20px;
}
.left_Body  div.tip > input {
    color: 	hsl(183, 100%, 15%);
    text-align: center;
    padding: 1%;
    font-size: 1.2em;
}




.bill_Container {
    position: relative;
}
.bill_Icon:before{
    content: url("/images/icon-dollar.svg"); 
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%)
}
.left_Body div.tip > input:hover,
.bill_Container input:hover,
.bill_Container input:focus {
    outline: solid #5aa9a0;
}





.tip {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}
.tip button {
    width: auto;
    padding: 5px 10px;
    background-color: hsl(183, 100%, 15%);
    font-family: 'Space Mono', monospace;
    color: #fff;
    font-weight: bolder;
    font-size: 1.4em;
}
.tip button:hover{
    background: hsl(173, 61%, 77%);
    color: hsl(183, 100%, 15%);
}









#people{
    width: 100%;
}
.people_Container{
    position: relative;
}
.people_Icon:before {
    content: url("/images/icon-person.svg"); 
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%)
}
.people_Wrap {
    display: flex;
    justify-content: space-between;
}



/************** R I G H T  B O D Y ****************/


.right_Body {
    background-color: hsl(183, 100%, 15%);
    display: grid;
    place-items: center;
    grid-template-rows: 1fr 1fr 2fr;
    padding: 1em 0 0 0;
}
.right_Body div {
    display: flex;
    color: #fff;
    width: 100%;
    justify-content: space-evenly;
}
.right_Body div:last-of-type {
    place-self: end;
    margin: 0 0 2em 0;
}
.right_Body div sub {
    color: #6fa0a4;
}
.right_Body div > button {
    width: 80%;
    height: 2.5em;
    font-size: 20px;
    border: none;
}
.right_Body .value{
    font-size: 50px;
    color: #27c0ac;
    font-weight: bold;
    background: transparent;
}




button#reset {
    background-color: hsl(183, 79%, 24%);
    color: hsl(184, 90%, 20%);
    font-weight: bolder;
}


/************** F O O T E R ****************/


footer {
    grid-area:7/2 / 8/3;
}



/************** U T I L I T Y ****************/



.borderRound { border-radius: 20px;}
.monoSpace { font-family: 'Space Mono', monospace;}
.flex { display: flex; flex-direction: row;}
.off { display: none;}
.red { color: #c27d6e;}
.red_Outline { outline: solid #b47e6e;}
button {
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
p{ padding: 0; margin: 0;}



@media screen and ( min-width:768px) and (max-width:1024px) {
    html,body {
        min-height: 100vh;
    }
    main {
        grid-template: auto min-content 1fr / 1fr 2fr 1fr;
    }
    #logo {
        grid-area: 1/2 / 2/3;
    }
    article {
        grid-area: 2/2 / 3/3;
    }
    footer {
        grid-area: 3/2 / 4/3;
    }
    #calc_Body {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: none;
    }
}
